[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git


[submodule "themes/even"]
	path = themes/even
	url = https://github.com/xiantang/hugo-theme-even.git
